<div class="middle">
  <h3>TUDU</h3>
  <h4>Finally, an application that allows you to create self-destructing to-do lists.</h4><br><br>
      <%= image_tag("todolist.png", size: "272x283", alt: "todo-list") %>
  <br><br><br><br><br><br><br><br><br><br>
  <span>demo : 'test@user.com' : 'password'</span>
</div>