<%= form_for [@user, Item.new] do |f| %>
  <div class='form-group'>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Add a new item.' %>
  </div>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.submit 'Add', class: 'btn btn-success blue' %>
<% end %>